.login {
  height: 100vh;
  width: 100vw;
}

.login__header > p {
  font-size: calc(var(--font-size) * 2);
  color: var(--foreground);
  text-align: center;
}

.login__logo {
  color: var(--color-amber-glow);
}

@media screen and (min-width: 1280px) {
  .login__header > p {
    font-size: calc(var(--font-size) * 2.5);
  }
}
