.momo-logo {
  font-family: var(--font-logo);
  font-weight: 900;
  line-height: 100%;
}

.momo-logo--fluid {
  --min-size: calc(var(--font-size) * 4);
  --max-size: calc(var(--font-size) * 8);
  --slope: calc(
    ((var(--font-size-base) * 8) - (var(--font-size-base) * 4)) /
    1560
  );
  --base: calc(((var(--font-size-base) * 4) - (var(--slope) * 360)) * 1px);
  font-size: clamp(
    var(--min-size),
    calc(var(--base) + var(--slope) * 100vw),
    var(--max-size)
  );
}

.momo-logo--sm {
  font-size: 2rem;
}

.momo-logo--md {
  font-size: 3rem;
}

.momo-logo--lg {
  font-size: 5rem;
}
