@import 'tailwindcss';

:root {
  --background: #fbf8ef;
  --foreground: #001f29;
  --auburn: #9b2226;
  --rufous: #ae2012;
  --rust: #bb3e03;
  --cocoa-brown: #de7002;
  --gamboge: #ee9b00;
  --tiffany-blue: #8ccfb9;
  --dark-cyan: #0a9396;
  --midnight-green: #005f73;
}

@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-auburn: var(--auburn);
  --color-rufous: var(--rufous);
  --color-rust: var(--rust);
  --color-cocoa-brown: var(--cocoa-brown);
  --color-gamboge: var(--gamboge);
  --color-tiffany-blue: var(--tiffany-blue);
  --color-dark-cyan: var(--dark-cyan);
  --color-midnight-green: var(--midnight-green);
  /* Fonts */
  /* Spacing */
  --spacing: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #001f29;
    --foreground: #fbf8ef;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
