.momo-navbar {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  width: 100%;
}

.momo-navbar__logo {
  margin: 0;
  justify-self: start;
}

.momo-navbar__logo > * {
  font-size: 3rem;
}

.momo-navbar__slot {
  min-width: 0;
}

.momo-navbar__theme-desktop {
  display: none;
}

.momo-navbar__theme-mobile {
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .momo-navbar {
    grid-template-columns: 1fr auto 1fr;
  }

  .momo-navbar__theme-desktop {
    display: flex;
    justify-self: start;
    align-items: center;
  }

  .momo-navbar__theme-mobile {
    display: none;
  }

  .momo-navbar__logo {
    margin: 0;
    justify-self: center;
  }
  .momo-navbar__logo > * {
    font-size: 5rem;
  }
}
