.momo-circle {
  --circle-size-current: var(--circle-size);
  --circle-shadow-current: var(--circle-shadow);
  --circle-font-size-current: var(--circle-font-size);
  --circle-border-width-current: var(--circle-border-width);
  border-radius: 50%;
  color: var(--color-dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: calc(var(--circle-size-current) * var(--font-size));
  height: calc(var(--circle-size-current) * var(--font-size));
  box-shadow: calc(var(--circle-shadow-current) * -1px)
    calc(var(--circle-shadow-current) * 1px) 0 var(--color-dark);
  font-size: calc(var(--circle-font-size-current) * 1rem);
  border-width: calc(var(--circle-border-width-current) * 1px);
}

.momo-circle--button {
  cursor: pointer;
  transition:
    transform 200ms cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 200ms cubic-bezier(0.2, 0.8, 0.2, 1);
}

.momo-circle--button:hover {
  box-shadow: calc(var(--circle-shadow) * -0.5px)
    calc(var(--circle-shadow) * 0.5px) 0 var(--color-dark);
  transform: translate(calc(var(--circle-shadow) * -0.5px));
}

@media (prefers-reduced-motion: reduce) {
  .momo-circle--button {
    animation: none;
  }
}

@media (max-width: 767px) {
  .momo-circle {
    --circle-size-current: var(--circle-size-mobile, var(--circle-size));
    --circle-shadow-current: var(--circle-shadow-mobile, var(--circle-shadow));
    --circle-font-size-current: var(
      --circle-font-size-mobile,
      var(--circle-font-size)
    );
    --circle-border-width-current: var(
      --circle-border-width-mobile,
      var(--circle-border-width)
    );
  }
}
