.auth-signup-form__input,
.auth-signup-form__submit {
  width: 100%;
}

.auth-signup-form__field {
  gap: 0;
}

.auth-signup-form__error {
  color: var(--color-vibrant-coral);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .auth-signup-form__field {
    gap: calc(var(--spacing) * 1);
  }
}
