.momo-avatar {
  border-radius: 50%;
  color: var(--color-dark);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: calc(var(--avatar-size) * var(--font-size));
  height: calc(var(--avatar-size) * var(--font-size));
  box-shadow: calc(var(--avatar-shadow) * -1px) calc(var(--avatar-shadow) * 1px)
    0 var(--color-dark);
  font-size: calc(var(--avatar-font-size) * 1rem);
  border-width: calc(var(--avatar-border-width) * 1px);
}

.momo-avatar--button {
  cursor: pointer;
  transition:
    transform 200ms cubic-bezier(0.2, 0.8, 0.2, 1),
    box-shadow 200ms cubic-bezier(0.2, 0.8, 0.2, 1);
  will-change: transform, box-shadow;
}

.momo-avatar--button:hover {
  box-shadow: calc(var(--avatar-shadow) * -0.5px)
    calc(var(--avatar-shadow) * 0.5px) 0 var(--color-dark);
  transform: translate(calc(var(--avatar-shadow) * -0.5px));
}

@media (prefers-reduced-motion: reduce) {
  .momo-avatar--button {
    animation: none;
  }
}
